<div class="Details">
  <div class="title" *ngIf="!weatherService.loading">
    <span >Weather in {{ weather.name }}, {{ weather.sys.country }}</span><br />
    {{ weather.dt.getHours() | number:'2.0-0' }}:{{ weather.dt.getMinutes() }} {{ months[ weather.dt.getMonth() ]}} {{ weather.dt.getDate() }}
  </div>

  <card>
    <div class="CardForecast" *ngIf="!weatherService.loading">

      <div class="now">
        <div class="now-temp">
          <div> {{ weather.main.temp | number:'2.0-0' }}°C</div>
          <div> 
              <img src="https://openweathermap.org/img/w/{{ weather.weather[0].icon }}.png" /><br>
              <small>{{ weather.weather[0].description }}</small>
          </div>
        </div>      
        <div class="now-temp-line">
          <div class="row">
            <div style="color: #b30000;">Max</div> 
            <div>{{ weather.main.temp_max | number:'2.0-0' }}°C</div>
          </div>
          <div class="row">
            <div style="color: #4a90e2;">Min</div> 
            <div>{{ weather.main.temp_min | number:'2.0-0' }}°C</div>
          </div>
          <div class="row">
            <div>Sunrise</div> 
            <div>{{ weather.sys.sunrise.getHours() | number:'2.0-0' }}:{{ weather.sys.sunrise.getMinutes() }}</div>
          </div>
          <div class="row">
            <div>Sunset</div> 
            <div>{{ weather.sys.sunset.getHours() | number:'2.0-0' }}:{{ weather.sys.sunrise.getMinutes() }}</div>
          </div>
        </div>    
      </div>
      <h3>5 day weather forecast <small>every 3 hours</small></h3>

      <div class="ListItem" *ngFor="let forecast of forecastList">
        <div class="day">
          {{ days[ forecast.dt.getDay() ] }} {{ forecast.dt.getDate() }} {{ months[ forecast.dt.getMonth() ]}} <br>
          <small>{{ forecast.dt.getHours() }}:00</small>
        </div>

        <div class="icon">
            <img src="https://openweathermap.org/img/w/{{ forecast.weather[0].icon }}.png" /><small>{{ forecast.weather[0].description }}</small>
        </div>

        <div class="min-max">
          <span style="color: #b30000;">{{ forecast.main.temp_max | number:'2.0-0' }}°C</span>&nbsp;&nbsp;
          <span style="color: #4a90e2">{{ forecast.main.temp_min | number:'2.0-0' }}°C</span>
        </div>
      </div>
    </div>
    

     
  </card>
</div>